<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script/script.js"></script>
    <title>Rock Foundations School</title>
</head>

<body style="background-color: white;">
    <nav class="container-fluid">
        <h1>The Rock Foundations</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">About Us</a></li>
            <li><a href="/admissions">Admissions</a></li>
            <li><a href="/fees">Fees Payment</a></li>
            <li class="dropdown"><a class="dropdownbtn" href="#">Results<i class="fa fa-caret-down"></i></a>
                <ol class="dropdown-content">
                    <a href="#">Check Result</a>
                    <a href="#">Buy PIN</a>
                </ol>
            </li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
   
    <div class="container">
        <h4 style="color: white;">Since our first school in 1955 and over 6 decades later, we are still delivering on our promise of providing world class education.⁣⁣⁣
        </h4>
    </div>
    <div class="row mt-5" style="text-align: center">
        <div class="container col-md-4" style="background-color: rgb(14, 163, 94);">
            <h1 style="color: red;">Our Vission</h1>
            <p1 style="color: white; font-size: larger;">To be Nigeria’s leading educational institution focused on and dedicated to producing well-rounded and proudly Nigerian young men and women equipped for continuous learning, personal mastery and leadership</p1>
        </div>
        <div class="container col-md-6 m-auto">
            <div class="center" style="background-color: none !important;">
                <img src="/images/mission.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="row mt-5" style="text-align: center">
        <div class="container col-md-4" style="background-color: rgb(14, 163, 94);">
            <h1 style="color: red;">Our Mission</h1>
            <p1 style="color: white; font-size: larger;">To provide world-class education to children. We inculcate high moral and ethical values in our students as we prepare them for lifelong learning, service and fulﬁllment.
            </p1>
        </div>
        <div class="container col-md-6 m-auto">
            <div class="center" style="background-color: none !important;">
                <img src="/images/mission2.jpg" alt="" height="85%" width="60%">
            </div>
        </div>

    </div>
    <hr>
    <div class="container" style="text-align: center; color: red; text-decoration-style: dotted;">
        <h1>Our Management Team</h1>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="container">
                <img src="/images/prinp.png" alt="Avatar" class="image" style="width:200%; border-radius: 60px">
                <h4>Proprietor</h4>
                <div class="middle">
                    <div class="text">
                        <p class="title" style="color: red; font-size: x-large;">Proprietor</p>
                        <h2>Jones Luis</h2>
                    <p><i class="fa fa-envelope">luisjones@gmail.com</i></p>
                    <p><i class="fa fa-phone"> +2349054306452</i></p>
                    <p><button class="button"><i class="fa fa-facebook">book</i> </button></p>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <img src="/images/prop.png" alt="Avatar" class="image" style="width:200%; border-radius: 60px">
                <h4>Principal</h4>
                <div class="middle">
                    <div class="text">
                        <p class="title" style="color: red; font-size: x-large;">Principal</p>
                        <h2>Monica Sunday</h2>
                       <p><i class="fa fa-envelope">judeokon@gmail.com</i></p>
                    <p><i class="fa fa-phone"> +2347014387542</i></p>
                    <p><button class="button"><i class="fa fa-facebook">book</i> </button></p></div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
           <div class="container">
               <img src="/images/me.jpg" alt="Avatar" class="image" style="width:200%; border-radius: 60px">
               <h4>V. Principal</h4>
               <div class="middle">
                   <div class="text">
                       <p class="title" style="color: red; font-size: x-large;">Vice Principal</p>
                       <h2>Jude Okon</h2>
                      <p><i class="fa fa-envelope">monic@gmail.com</i></p>
                   <p><i class="fa fa-phone"> +2347014387542</i></p>
                   <p><button class="button"><i class="fa fa-facebook">book</i> </button></p></div>
                   
               </div>
           </div>
       </div>
        <div class="col-md-3">
            <div class="container">
                <img src="/images/adm.jpg" alt="Avatar" class="image" style="width:200%; border-radius: 60px">
                <h4>Adm Officer</h4>
                <div class="middle">
                    <div class="text">
                        <p class="title" style="color: red; font-size: x-large;">Admission Officer</p>
                        <h2>Goilicia Eyo</h2>
                       <p><i class="fa fa-envelope">eyohappy@gmail.com</i></p>
                    <p><i class="fa fa-phone"> +2348021457845</i></p>
                    <p><button class="button"><i class="fa fa-facebook">book</i> </button></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
           <div class="container">
               <img src="/images/pta.png" alt="Avatar" class="image" style="width:200%; border-radius: 60px">
               <h4>PTA Chairman</h4>
               <div class="middle">
                   <div class="text">
                       <p class="title" style="color: red; font-size: x-large;">PTA Chairman</p>
                       <h2>Mamman Rimmabatang</h2>
                      <p><i class="fa fa-envelope">judeokon@gmail.com</i></p>
                   <p><i class="fa fa-phone"> +2347014387542</i></p>
                   <p><button class="button"><i class="fa fa-facebook">book</i> </button></p></div>
                   
               </div>
           </div>
        </div>
       <div class="col-md-3">
           <div class="container">
               <img src="/images/meir.jpg" alt="Avatar" class="image" style="width:200%; border-radius: 60px">
               <h4>Accademic Advisory</h4>
               <div class="middle">
                   <div class="text">
                       <p class="title" style="color: red; font-size: x-large;">Accademic Advisory</p>
                       <h2>Dicta Edim</h2>
                      <p><i class="fa fa-envelope">columaedim@yahoo.com</i></p>
                   <p><i class="fa fa-phone"> +2347014387542</i></p>
                   <p><button class="button"><i class="fa fa-facebook">book</i> </button></p></div>
                   
               </div>
           </div>
       </div>
    </div>
    <hr><hr>
</body>
<footer id="footer" class="container">
    <h4><i class="fa fa-copyright"></i>2021 The Rock Foundations School. All right reserved</h4>
    <h4>Powered and managed by Godwin</h4>
</footer>

</html>