<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rock Foundations Result Card</title>
</head>

<body>
    <div class="container" style="align-text:center;">
        <p>Click this button to view your Result Card</p>
        <form action="/resultPIN" method="POST">
            <button>My Result Card</button>
        </form>
    </div>
    
</body>

</html>